# {{ ansible_managed }}

# vars
set $mod Mod4
set $font pango:Roboto Mono for Powerline, FontAwesome, 8

# include
include ~/.config/i3/config.d/*.conf

# font
font $font

{{ i3BaseColor }}

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# Leave fullscreen on popup
popup_during_fullscreen leave_fullscreen

# start a terminal
bindsym $mod+Return exec alacritty

# kill focused window
bindsym $mod+Shift+q kill

# start rofi (program launcher)
bindsym $mod+d exec rofi -theme base16-{{ theme }} -font "hack 8" -lines 40 -location 2 -combi-modi "clip:greenclip print#run#ssh#pass:rofi-gopass" -show combi -modi combi

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

bindsym XF86AudioLowerVolume exec volume -
bindsym XF86AudioRaiseVolume exec volume

bindsym XF86MonBrightnessDown exec brightness -
bindsym XF86MonBrightnessUp exec brightness

bindsym $mod+End exec {{ ansible_env.HOME }}/.config/i3/screenlock/screenlock.sh picture
bindsym $mod+Shift+End exec systemctl suspend

bindsym --release $mod+Print exec scrot ~/screenshots/%Y-%m-%d-%T.png -u
bindsym --release $mod+Shift+Print exec scrot ~/screenshots/%Y-%m-%d-%T.png

exec --no-startup-id xrdb -merge ~/.Xresources
exec --no-startup-id compton
exec --no-startup-id feh --bg-fill --no-xinerama {{ ansible_env.HOME }}/.config/i3/screenlock/pictures/wide/colors-2.png
exec --no-startup-id unclutter
exec --no-startup-id xss-lock -- {{ ansible_env.HOME }}/.config/i3/screenlock/screenlock.sh picture &
exec --no-startup-id /etc/X11/xinit/xinitrc.d/50-systemd-user.sh

{% if keyboard_layout is defined %}
exec --no-startup-id setxkbmap {{ keyboard_layout }} -option compose:caps
{% endif %}
