[hub]
        protocol = https
[user]
        name = {{ full_name }}
        email = {{ git_email }}
        signingkey = {{ git_signingkey }}
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore_global
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
[commit]
        gpgsign = true
[github]
        user = {{ git_user }}
