# change focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+semicolon focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right
# neo
bindsym $mod+Mod3+Left focus left
bindsym $mod+Mod3+Down focus down
bindsym $mod+Mod3+Up focus up
bindsym $mod+Mod3+Right focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+semicolon move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right
# neo
bindsym $mod+Mod3+Shift+Left move left
bindsym $mod+Mod3+Shift+Down move down
bindsym $mod+Mod3+Shift+Up move up
bindsym $mod+Mod3+Shift+Right move right

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# neo switch to workspace
bindsym $mod+Mod3+1 workspace 1
bindsym $mod+Mod3+2 workspace 2
bindsym $mod+Mod3+3 workspace 3
bindsym $mod+Mod3+4 workspace 4
bindsym $mod+Mod3+5 workspace 5
bindsym $mod+Mod3+6 workspace 6
bindsym $mod+Mod3+7 workspace 7
bindsym $mod+Mod3+8 workspace 8
bindsym $mod+Mod3+9 workspace 9
bindsym $mod+Mod3+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# neo move focused container to workspace
bindsym $mod+Mod3+Shift+1 move container to workspace 1
bindsym $mod+Mod3+Shift+2 move container to workspace 2
bindsym $mod+Mod3+Shift+3 move container to workspace 3
bindsym $mod+Mod3+Shift+4 move container to workspace 4
bindsym $mod+Mod3+Shift+5 move container to workspace 5
bindsym $mod+Mod3+Shift+6 move container to workspace 6
bindsym $mod+Mod3+Shift+7 move container to workspace 7
bindsym $mod+Mod3+Shift+8 move container to workspace 8
bindsym $mod+Mod3+Shift+9 move container to workspace 9
bindsym $mod+Mod3+Shift+0 move container to workspace 10
